<!doctype html>
<html lang="ar">

<head>
    <!-- البيانات الوصفية المطلوبة -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- مكتبة Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>نظام تسجيل الحضور باستخدام التعرف على الوجه</title>
    <link rel="icon" type="image/x-icon" href="static/icon3.png">

</head>

<style>
    .log {
        color: white;
        text-decoration: none;
    }

    .log:hover {
        color: blue;
        text-decoration: none;
    }
</style>

<body>
    <!-- شريط التنقل -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="static/icon3.png" width="35" class="d-inline-block align-top"
                alt="الشعار">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="تبديل القائمة">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <h6 style="color: white;">نظام تسجيل الحضور باستخدام التعرف على الوجه</h6>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a href="/" class="mr-5 mt-2 log">
                    <h5>الرئيسية</h5>
                </a>
                <a href="/logout" class="mr-5 mt-2 log"><h5>تسجيل الخروج</h5></a>
                <h5 class="my-2 my-sm-0" style="color: white;">مرحبًا، {{current_user.username}}</h5>
            </div>
        </div>
    </nav>

    <!-- النموذج الرئيسي -->
    <div class="container mt-3">
        <h2>إضافة موظف جديد</h2>
        <hr>
        {% if invalid == 1 %}
        <p style="color:red"><b>الموظف بمعرف مُعطى موجود بالفعل. حاول مرة أخرى..</b></p>
        {% elif invalid == 2 %}
        <p style="color:red"><b>تحذير: لم تقم بتحميل صورة. أنشئ حسابًا بصورة ليتم تسجيل حضورك تلقائيًا</b></p>
        {% endif %}
        <form action="/add" method="post" id = 'myform' enctype="multipart/form-data">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id">معرف الموظف</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="معرف الموظف" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="name">الاسم الكامل</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="اسم الموظف" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id">القسم</label>
                    <input type="text" class="form-control" id="dept" name="dept" placeholder="القسم" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="name">البريد الإلكتروني</label>
                    <input type="email" class="form-control" id="mail" name="mail" placeholder="البريد الإلكتروني" required>
                </div>
            </div>


            <div id="picButton">
                <input type="button" class="btn btn-outline-dark btn-block" name="options" id="#photoUpload"
                    autocomplete="off" data-toggle="modal" data-target="#photoUpload"
                    value="تحميل صورة (صافية وغير مفلترة لتحقيق نتائج أفضل)">
            </div>
            <!-- مربع اختيار تحميل الصورة -->
            <div class="modal fade" id="photoUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">كيف تريد تحميل الصورة</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="إغلاق">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="upload();"
                                data-dismiss="modal">تحميل من الملفات</button>
                            <button type="button" class="btn btn-secondary" onclick="takePic();"
                                data-dismiss="modal">التقاط صورة</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- سيتم استخدام هذا القسم إذا اختار المستخدم التقاط صورة من الكاميرا -->
            <div id="img" class="my-3">
            </div>

            <script>
function takePic() {
    try {
        document.getElementById("picButton").removeChild(document.getElementById("#photoUpload"));
    } catch (e) {}

    var empIdValue = document.getElementById("id").value; // احصل على قيمة المعرف

    if (!empIdValue) {
        alert("يرجى إدخال معرف الموظف قبل التقاط الصورة.");
        return;
    }

    var text = document.createElement("p");
    text.setAttribute("id", "camInstructions");
    document.getElementById("img").appendChild(text);
    document.getElementById("camInstructions").innerHTML = "ابتسم لالتقاط صورتك :)<br> تأكد من الإضاءة الجيدة";

    var ele = document.createElement("img");
    ele.setAttribute("src", "/takePhoto/" + empIdValue); // بناء رابط الصورة
    ele.setAttribute("class", "img-fluid img-thumbnail");
    ele.setAttribute("id", "photo");
    ele.classList.add("cam");

    ele.onerror = function () {
        alert("تعذر فتح الكاميرا أو التقاط الصورة. يرجى المحاولة مرة أخرى.");
    };

    document.getElementById("img").appendChild(ele);
}


            </script>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" id="submit" class="btn btn-dark" style="width: 100%;">إرسال</button>
                </div>
                <div class="form-group col-md-6">
                    <a type="button" href="/add" class="btn btn-dark" style="width: 100%;">إعادة تعيين</a>
                </div>
            </div>
        </form>
    </div>

    <!-- قاعدة بيانات الموظفين -->
    <div class="container my-5">
        <h2>قاعدة بيانات الموظفين</h2>
        <hr>
        <div class="table-responsive">
            {% if allRows|length == 0 %}
            <div class="alert alert-dark" role="alert">
                لا توجد سجلات
            </div>
            {% else %}
            <table id='sdb' class="table table-dark table-striped" style="align-content: center;">
                <thead>
                    <tr align="center">
                        <th scope="col">م</th>
                        <th scope="col">المعرف</th>
                        <th scope="col">الاسم</th>
                        <th scope="col">القسم</th>
                        <th scope="col">البريد الإلكتروني</th>
                        <th scope="col">تاريخ التوظيف</th>
                        <th scope="col">الصورة</th>
                        <th scope="col">الإجراء</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in allRows %}
                    <tr align="center">
                        <th scope="row">{{loop.index}}</th>
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.department}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.hiringDate}}</td>
                        <td><img src="static\TrainingImages\{{row.id}}.jpg" alt="-" height="80px"></td>
                        <td><div class="btn-group-vertical">
                                <button id="#del{{row.id}}" type="button" class="btn btn-light btn-sm" data-toggle="modal"
                                    data-target="#del{{row.id}}">حذف</button>
                                <button type="button" class="btn btn-light btn-sm" onclick="update('{{row.id}}','{{row.name}}',
                                '{{row.department}}','{{row.email}}');">تحديث</button>
                            </div>
                        </td>
                    </tr>
                     <script>
                        function update(id,nm,dept,mail){
                            document.getElementById("id").value = id;
                            document.getElementById("name").value = nm;
                            document.getElementById("dept").value = dept;
                            document.getElementById("mail").value = mail;
                            ele = document.getElementById('id');
                            ele.setAttribute('readonly','true')
                            $("#myform").attr('action', '/update');
                        }
                    </script>

                    <!-- مربع تأكيد -->
                    <div class="modal fade" id="del{{row.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">هل أنت متأكد؟</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="إغلاق">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-danger">
                                    <b>{{row.name}}</b> سيتم حذفه نهائيًا من قاعدة البيانات
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                    <a href="/delete/{{row.id}}" type="button" class="btn btn-danger">حذف</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>


    <!-- مكتبة JavaScript أولاً، ثم Popper.js، ثم Bootstrap JS ثم datatables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
</body>

<script type="text/javascript">
    $('#sdb').DataTable();
</script>

</html>
